*, *:before, *:after {
    box-sizing: border-box;
}

.entryLink {
    display: block;
    width: 85vw;
    height: 85vw;
    padding: 1rem;
    border-width: 4rem;
    border-style: solid; 
    border-radius: 50%;
    align-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    font-size: 1.5rem;
    line-height: 42.5vw;
}
@media only screen and (min-width: 750px) {
    .entryLink {
        display: block;
        width: 40vw;
        height: 40vw;
        padding: 1rem;
        border-width: 4rem;
        border-style: solid; 
        border-radius: 50%;
        align-content: center;
        align-items: center;
        text-align: center;
        margin: 10px;
        font-size: 1.5rem;
        line-height: 20vw;
    }
}

@media only screen and (min-width: 1000px) {
    .entryLink {
        display: block;
        width: 40vw;
        height: 40vw;
        padding: 1rem;
        border-width: 6rem;
        border-style: solid; 
        border-radius: 50%;
        align-content: center;
        align-items: center;
        text-align: center;
        margin: 10px;
        font-size: 1.5rem;
        line-height: 20vw;
    }
}
