form {
    margin: auto;
    width: 80vw;
  }
  
  form *{
    display: block;
    margin: auto;
  }
  
  span.MuiSlider-root.MuiSlider-colorPrimary {
    width: 90%;
  }

  textarea {
    height: 50vh;
    width: 90%;
    resize: none;
  }
  
  @media only screen and (min-width: 750px){
    form{
      width: 60vw;
    }
  }
