footer {
    grid-row: 4;
    bottom: 0;
    background-color: teal;
    flex-shrink: 0;
}

footer * {
    display: inline;
    padding: 3px;
    margin: auto;
    vertical-align: middle;
}

a {
    text-decoration: none;
}