.journalContainer {
    border: orangered solid 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

.entryContainer {
    display: relative;
    flex-direction: column;
    justify-content: space-between;
}

@media only screen and (min-width: 750px) {
    .entryContainer {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .entryBox {
        z-index: initial;
    }
}